@tailwind base;

@layer base {
  :root {
    --radius: 0.5rem;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

[data-theme="dark"] {
  body {
    --text: #ffffff;
    color: var(--text);
  }
}

[data-theme="light"] {
  body {
    --text: #000000;
    color: var(--text);
  }
}
