::-webkit-scrollbar {
  @apply h-1 w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-md;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
